.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-button{
  border-radius:0px;
  padding:20px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.color-button:active {
  box-shadow: inset 0 0 10px #000;
}

.red {
  background-color:#f44336;
}

.green{
  background-color:#4CAF50;
}

.blue{
  background-color:#008CBA;
}

.grey{
  background-color:#666;
}

.light-grey{
  background-color:#aaa;
}

nav{
  padding:20px;
}

nav div {
  width:400px;
  display:inline-block;
}

nav span {
  padding:20px;
}

.data p{
  margin:0px;
}

.data{
  width:200px;
}

.actions{
  width:300px;
}

.Draw {
  border: 1px solid #666;
}
